@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Zalando Sans Expanded", sans-serif;
}

.header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    color: rgb(0, 0, 0);
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

body {
    background-color: rgb(0, 0, 0);
}

.titulo {
    font-size: 2em;
    color: rgb(69, 0, 99);
    user-select: none;
}

.nav a {
    position: relative;
    color: rgb(69, 0, 99);
    text-decoration: none;
    margin-left: 40px;
    font-size: 1.1rem;    
    font-weight: 500;
}

.nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgb(69, 0, 99);
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform: scaleX(0);
    transition: transform .3s;
}

.nav a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 120px 1rem;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sobre_mim {
    font-size: 1.8rem;
    color: rgb(69, 0, 99);
}

.sobre_conteudo {
    flex: 1;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}

.sobre_imagem {
    margin-left: auto;
    position: relative;
    display: block;
}

.sobre_imagem img {
    opacity: 0.9;
    width: 420px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}


.apresentacao {
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    line-height: 1.6;
}

.projetos {
    border-top: 2px solid rgb(69, 0, 99);
    border-bottom: 2px solid rgb(69, 0, 99);
    background: linear-gradient(
        to top,
        #000000,
        rgb(34, 0, 49)
    );

    padding: 80px 0;
}

.container_projetos {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1rem;
}

.projetos__titulo {
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}


.projetos_lista {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 250px));
    gap: 2rem;
}

.card {
    max-width: 250px;
    flex: 1;
    background-color: rgb(69, 0, 99);
    color: white;

    padding: 0.9rem;
    border-radius: 16px;

    display: grid;
    grid-template-columns: repeat(4, minmax(250px));
    gap: 2rem;

    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
    transition: 
    transform 0.3s ease,
    box-shadow 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
}

.card a {
    margin-top: auto;
    color: white;
    text-decoration: none;
    font-weight: 600;
}








.rodape {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: rgb(40, 0, 57);
    display: flex;
    color: rgb(255, 254, 254);
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.rodape a {
    color: rgb(255, 254, 254);
    text-decoration: none;
    font-weight: 500;
}

.rodape a:hover {
    text-decoration: underline;
    color: rgb(151, 0, 50);
}